@inject SignInManager<User> signInManager;
@{
    bool active = signInManager.IsSignedIn(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/8d2323ec4e.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
</head>
<body class="bg-light">
    <header class="sticky-top bg-warning">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-5">
            <div class="container" role="navigation">
                <a class="navbar-brand text-primary" asp-controller="Home" asp-action="Index"><i class="fas fa-house-user"></i>HomeFinder</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm">
                    <ul class="navbar-nav ml-auto justify-content-end">
                        @if (active)
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="logout" asp-controller="user">
                                    <button type="submit" class="btn nav-link text-dark btn-outline-primary w-100">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown show d-flex flex-column" role="navigation">
                                    <a class="btn dropdown-toggle nav-link text-dark border border-primary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                                        Options
                                    </a>
                                    <div class="dropdown-menu border border-primary" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" data-toggle="tooltip" title="Location attributes define what you like about the location of the home you are reviewing" asp-controller="Attributes" asp-action="General">Location Attributes</a>
                                        <a class="dropdown-item" data-toggle="tooltip" title="Home Features define what aspects of the home you are inspecting" asp-controller="Features" asp-action="General">Home Features</a>
                                        <a class="dropdown-item" href="#">Help</a>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn nav-link text-dark btn-outline-primary" asp-controller="user" asp-action="register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn nav-link text-dark btn-outline-primary" asp-controller="user" asp-action="login">Log in</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" role="main">
        <main class="pb-3">
            @RenderBody()
            <div class="pb-3"></div>
        </main>
    </div>

    <footer class="footer p-3 bg-warning">
        <div class="d-flex justify-content-around" role="navigation">
            <div></div>
            <div class="btn"> <a class="btn nav-link text-dark btn-outline-primary" asp-controller="home" asp-action="about">About</a></div>
            <div class="btn"><a class="btn nav-link text-dark btn-outline-primary" asp-controller="home" asp-action="privacy">Privacy</a></div>
            <div class="btn"><a class="btn nav-link text-dark btn-outline-primary" asp-controller="home" asp-action="contact">Contact</a></div>
            <div></div>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoIsW7_ztMdbJHD-SAGh8C4S-HXWgkksQ&callback=initMap" defer></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
